.glass1 {
    position: absolute;
    width: 50rem;
    height: 43.5rem;
    border: 1px solid $color-gray1;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.329);
    box-shadow: 18px 13px 29px -5px rgba(0, 0, 0, 0.72);
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
    @supports (backdrop-filter: blur(4px)) {
        background-color: transparent;
        backdrop-filter: blur(4px);
    }
    @media only screen and (max-width: 768px) {
        width: 85%;
        height: 44rem;
        .form__input-bar{
            display: none;
        }
    }
    @media only screen and (max-width: 576px) {
        height: 46rem;
    }
    @media only screen and (max-width: 369px) {
        .form__check-text {
            display: none !important;
        }
    }
    &:focus-within {
        background-color: $color-white;
        .form__singin{
            opacity: .35;
        }
    }
}
.contact{
    @include flex(center,center);
    margin-top: 33rem;
}

