
           <% console.log("errors");%>
        <% if(errors.length> 0){ %>
                <span class="form__error" id="err" style="opacity: 0;"> <%= errors %>  </span>
            
            <% } %>